{% extends '_base.html' %}
{% load static %}
{% load custom_filter %}

{% block title %} cart shopping {% endblock %}

{% block link %}
        <link type="text/css" href="{% static 'css/book_list.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'img/29302.png' %}">
{% endblock link %}

{% block script %}
    <script src="{% static 'js/my_cart.js' %}" type="text/javascript"></script>
{% endblock %}


{% block content %}
    <h2>Your Cart</h2>
    <br>
    {% if my_cart %}
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Book</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope='col'>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for book in my_cart %}
                    <tr>
                      <td><img class="custom_img" src="{{ book.cover.url }}" alt="{{ book.title }}"></td>
                      <td><a href="{{ book.get_absolute_url }}">
                        {% if book.title|length > 14 %}
                              <b>{{ book.title|slice:":14" }}....</b>
                        {% else %}
                              <b>{{ book.title }}</b>
                        {% endif %}
                      </a></td>
                      <td>{{ book.author }}</td>
                      <!-- if you create a custom filter with must 1 > argumant you can -> value | name_func:arg1:arg2:... -->
                      <td>
                          x
                          <input class="number-input" type="number" id="myNumber_{{ forloop.counter }}"
                            value="{{ book.id | count_book:request }}" max="{{ book.quantity }}" min='1' readonly>
                            <a class="decrement-button"
                            onclick="decrement({{ forloop.counter }})"
                            href="{% url 'increment_decrementbook' 'down' book.id %}"> ↓ </a>
                            <a class="increment-button"
                            onclick="increment({{ forloop.counter }})"
                            href="{% url 'increment_decrementbook' 'up' book.id %}"> ↑ </a>
                      </td>
                      <td>{{ book.price }}$</td>
                      <td>
                        <a href="{% url 'remove_from_cart' book.id %}" class="rm_a" >&ensp;&ensp;
                        <img src="{% static 'img/rm.png' %}" class='icon_rm'/></a>
                      </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="alert alert-warning" role="alert">
            * The books in your shopping cart are not registered and may run out, so finalize the purchase as soon as possible.
        </div>
        <div class="alert alert-warning" role="alert">
            ** If you want to buy, these books will be sent to the profile address, if the address is invalid, update your address from the profile.
        </div>

        <table class="table table-striped">
              <thead>
                  <tr>
                      <th scope="col">Continue Shopping</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                      <th scope="col">Total Price</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td><a href="{% url 'payment_simulator' %}"
                        target="_blank" class="continuo_a" methods="post"> payment
                      </a>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b>{{ total_price }} $</b></td>
                  </tr>
              </tbody>
        </table>

    {% else %}
        <hr>
        <div class="alert alert-primary" role="alert">
            You don't have any book in cart !
        </div>
    {% endif %}
    <br>
{% endblock content %}
