{% extends '_base.html' %}

{% block title %} About {% endblock title %}


{% block content %}
<h2>About Page</h2><hr>
<div class="alert alert-info" role="alert">
        <p>
            This site is designed for buying and selling or exchanging books with each other .
        </p>
        <p>
            After registering on this site and
            confirming your email, you must complete your user profile on the site.
        </p>
        <p>
            As a user on this site, you can add books to the store or order books on the site  .
        </p>
        <p>
            This site is a training site and it is located in the repository
            <a href="https://github.com/AliReza7222/Store">here</a> You can help me to improve this site.
        </p>
</div>
{% endblock content %}
