{% extends '_base.html' %}
{% load static %}
{% load custom_filter %}

{% block title %} Your Receipt Sell {% endblock %}

{% block link %}
<link type="text/css" href="{% static 'css/book_list.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/receipt.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/pageination.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static 'js/windwos.js' %}"></script>

</script>
{% endblock %}

{% block content %}
<h2>Your Receipts Sell</h2>
<br>
{% if receipts_sell %}
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Time Sell</th>
              <th scope="col">Receipt Sell</th>
            </tr>
        </thead>
        <tbody>
            {% for time_sell in info %}
                <tr>
                  <td>{{ time_sell }}</td>
                  <td>
                    <a href='#' onclick="openPopup({{ forloop.counter }})" data-target="#myPopup-{{ forloop.counter }}">click here</a>
                  </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% for time_sell in info %}
        <div id="myPopup-{{ forloop.counter }}" class="popup">
              <div class="popup-content center">
                <span class="close" onclick="closePopup({{ forloop.counter }})">&times;</span>
                <h2 class="center">Sell Receipt </h2>
                {% for client in info|return_value_dict:time_sell %}
                    {% for book in  info|return_value_dict:time_sell|return_value_dict:client|return_value_dict:'title' %}
                        <br><hr>
                        <p>
                          <span class='wnd_span_l'>Client:</span>
                          <span class='wnd_span_r'>
                            {{ client }}
                          </span>
                        </p>
                        <br><br>
                        <p>
                          <span class='wnd_span_l'>Book Bought:</span>
                          <span class='wnd_span_r'>
                            {{ book }}
                          </span>
                        </p>
                        <br><br>
                        <p>
                          <span class='wnd_span_l'>Price Book x Quantity :</span>
                          <span class='wnd_span_r'>
                            {{ info|return_value_dict:time_sell|return_value_dict:client|return_value_dict:'price'|return_index:forloop.counter }}
                            $ x
                            {{ info|return_value_dict:time_sell|return_value_dict:client|return_value_dict:'quantity'|return_index:forloop.counter }}
                          </span>
                        </p>
                        <br><br>
                        <p>
                          <span class='wnd_span_l_impo'>Tracking Code:</span>
                          <span class='wnd_span_r_impo'>
                            {{ info|return_value_dict:time_sell|return_value_dict:client|return_value_dict:'token'|return_index:forloop.counter }}
                          </span>
                        </p>
                    {% endfor %}
                {% endfor %}
                <br><hr>
                <p>
                  <span class='wnd_span_l_impo'>Total Price:</span>
                  <span class='wnd_span_r_impo'>
                    {{ total_price|return_value_dict:time_sell }}
                  </span>
                </p>
                <br><hr>
                <p>
                  <span class='wnd_span_l_impo'>Time Receipt Sell:</span>
                  <span class='wnd_span_r_impo'>
                    {{ time_sell }}
                  </span>
                </p>
                <br><br>
              </div>
        </div>
    {% endfor %}
    <hr>
    <div>
        <h6 class="center">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </h6>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="icon">
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="icon">
                    <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <hr>
{% else %}
    <hr>
    <div class="alert alert-info" role="alert">
      <p>You don't have receipt sell .</p>
    </div>
{% endif %}
<br>

{% endblock %}
