{% extends '_base.html' %}
{% load static %}

{% block title %} Books {% endblock title %}

{% block link %}
         <link rel="icon" type="image/x-icon" href="{% static 'img/29302.png' %}">
        <link type="text/css" href="{% static 'css/book_list.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/pageination.css' %}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock link %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Books</h2>
            </div>
            <div class="col">
                <form class="search" action="{% url 'search_results' %}" method="get"
                style="margin:auto;max-width:300px;height:20px">
                    <input name="search_input" type="text" placeholder="Search" aria-label="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <hr><br>
        <div class="row">
                {% for book in book_list %}
                      <div class="column">
                              <a href="{{ book.get_absolute_url }}" class="book-title a-link2">
                                  {% if book.title|length > 14 %}
                                        <b>{{ book.title|slice:":14" }}....</b>
                                  {% else %}
                                        <b>{{ book.title }}</b>
                                  {% endif %}
                              </a>
                              <a href="{{ book.get_absolute_url }}">
                                  <img src="{{book.cover.url}}" class="cover_image_custom" alt="{{ book.title }}">
                              </a>
                              <br>
                              <a href="{{ book.get_absolute_url }}" class="more-info a-link">more information</a>
                        </div>
                {% endfor %}
        </div>
        <br>
    </div>
    <hr>
    <div>
        <h6 class="center">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} .
        </h6>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="icon">
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="icon">
                    <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <hr>
{% endblock content %}
