{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{ book.title }} {% endblock title %}

{% block link %}
<link rel="icon" type="image/x-icon" href="{% static 'img/29302.png' %}">
<link type="text/css" href="{% static 'css/book_list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="book-detail" style="display:flex; align-items:center;">
<div style="flex:1">
    <h2><a href="">{{ book.title }}</a></h2><br>
    <p><strong>Author :</strong> {{ book.author }}</p>
    <p><strong>Price :</strong> {{ book.price }}$</p>
    <p><strong>publication_date :</strong> {{ book.publication_date }}</p>
    {% if book.quantity > 0 %}
        <p><strong>Available amount :</strong>{{ book.quantity }}</p>
    {% elif book.quantity == 0 %}
        <p><strong>Available amount :</strong> <strong style="color:red">it is finished</strong></p>
    {% endif %}
    {% if user in book.favourites.all %}
        <a href="{% url 'favourite_book' book.pk %}" class="btn btn-danger">Remove from Favourites</a>
    {% else %}
        <a href="{% url 'favourite_book' book.pk %}" class="btn btn-outline-primary">Add to Favourites</a>
    {% endif %}<br><br>
    {% if book in my_cart %}
            <div class="alert alert-success" role="alert">
                   This book has been added to your shopping cart, but you have not confirmed the purchase of the book !
            </div>
    {% else %}
        <a href="{% url 'add_cart' book.pk %}" class="btn btn-green">Add to cart</a>
    {% endif %}
</div>

<div style="flex:1; text-align:right;">
    <img src="{{ book.cover.url }}" class="cover_image_custom" alt="{{ book.title }}" style="width:300px;height:400px">
</div>
</div>
<hr><br>
<p><strong>about_book :</strong>{{ book.about_book }}</p>
<hr>
<div>
<h3>Create Review For <a href="">{{ book.title }}</a></h3>
<form method="post">
    {% csrf_token %}
    {{ form.review|as_crispy_field }}
    <button type="submit" class="btn btn-primary">Create</button>
</form>
</div>

<br><hr>

<div style="word-wrap: break-word">
<h3>Reviews</h3>
{% if book.reviews.all %}
    <ul>
    {% for review in book.reviews.all %}
        <li>
            <strong>{{ review.author }} :</strong>
            {{ review.review }} <p style='color:blue'>{{ review.date }}</p>
        </li><br>
    {% endfor %}
    </ul>
{% else %}
    <p>No reviews have been registered yet.</p>
{% endif %}
</div>

<hr><br>
{% endblock content %}
