{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ book.title }} {% endblock title %}

{% block content %}
    <div class="book-detail">
        <h2><a href="">{{ book.title }}</a></h2>
        <p>Author: {{ book.author }}</p>
        <p>Price: {{ book.price }}$</p>
    </div><hr><br>

    <div>
        <h3>Reviews</h3>
        <ul>
        {% for review in book.reviews.all %}
            <li><strong>{{ review.author }} :</strong> {{ review.review }}</li>
        {% endfor %}
        </ul>
    </div>

    <br><hr>

    <div>
        <h3>Create Review For <a href="">{{ book.title }}</a></h3>
        <form method="post">
            {% csrf_token %}
            {{ form.review|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
    <br>
{% endblock content %}