{% extends '_base.html' %}
{% load static %}

{% block title %} Books {% endblock title %}

{% block link %}
        <link type="text/css" href="{% static 'css/book_list.css' %}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock link %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Books</h2>
            </div>
            <div class="col">
                <form class="search" action="{% url 'search_results' %}" method="get"
                style="margin:auto;max-width:300px;height:20px">
                    <input name="search_input" type="text" placeholder="Search" aria-label="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <hr><br>
        <div class="row">
                {% for book in book_list %}
                    <div class="column">
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                        <a href="{{ book.get_absolute_url }}">
                        <img src="{{book.cover.url}}" class="bookcover"
                             alt="{{ book.title }}" style="width:200px;height:200px"></a><br>
                        <a href="{{ book.get_absolute_url }}">more information </a>
                    </div>
                {% endfor %}
        </div>
        <br>
    </div>
{% endblock content %}