{% extends '_base.html' %}
{% load static %}

{% block title %}
    My Favourite Books
{% endblock %}

{% block link %}
        <link type="text/css" href="{% static 'css/books_fav.css' %}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{% static 'img/29302.png' %}">
        <link type="text/css" href="{% static 'css/pageination.css' %}" rel="stylesheet">
{% endblock link %}


{% block content %}
    <h2>My Favourite Books In Site</h2>
    <hr><br>
    {% if books %}
        {% for book in books %}
               <div class="row">
                   <a href="{{ book.get_absolute_url }}">
                   <img src="{{book.cover.url}}" class="bookcover"
                        alt="{{ book.title }}" style="width:200px;height:200px"></a><br>
                   <div class="right-option">
                       <h5><a href="{{ book.get_absolute_url }}" class="a_custom">
                           {{ book.title }}
                       </a></h5>
                       <h6><strong>author :</strong>  {{ book.author }}</h6>
                       <h6><strong>publication_date :</strong>  {{ book.publication_date }}</h6>
                       <h6><strong>price :</strong>  {{ book.price }}$</h6>
                       <a href="{{ book.get_absolute_url }}" class="a_custom">more information</a>
                   </div>
               </div><hr><br>
        {% endfor %}
    <div>
        <h6 class="center">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} .
        </h6>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="icon">
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="icon">
                    <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <hr>
    {% else %}
        <div class="alert alert-info" role="alert">
          <p>No books have been selected .</p>
        </div>
    {% endif %}
    <br>
{% endblock content %}
