{% extends '_base.html' %}
{% load static %}

{% block title %}Search Result {% endblock title %}

{% block link %}
        <link type="text/css" href="{% static 'css/book_list.css' %}" rel="stylesheet">
{% endblock link %}


{% block content %}
    <h1 style="color:blue">Search Result</h1>
    <hr><br>
    {% if books_list %}
        <div class="row">
                {% for book in books_list %}
                    <div class="column">
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
                        <a href="{{ book.get_absolute_url }}">
                        <img src="{{book.cover.url}}" class="bookcover"
                             alt="{{ book.title }}" style="width:200px;height:200px"></a><br>
                        <a href="{{ book.get_absolute_url }}">more information </a>
                    </div>
                {% endfor %}
        </div>
    {% else %}
        <h5 style="color: red">Not Found Book .</h5>
    {% endif %}
{% endblock content %}