.custom_img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 95px;
  height: 90px;
}

.column {
  float: left;
  width: 25%;
  height: 10%;
  padding: 30px;
}
* {
  box-sizing: border-box;
}

form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.cover_image_custom{
  width:200px;
  height:200px;
  border-radius: 8px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
}

.book-title {
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.cover_image_custom {
    margin-bottom: 10px;
}

.more-info {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.a-link,
.a-link2 {
    color: #353332;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-decoration: none;
}

.a-link:before,
.a-link2:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #16B0D3;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
}

.a-link:hover:before {
    transform: scaleX(1);
}

.a-link:hover,
.a-link2:hover{
    color:#16B0D3;
    text-decoration: none;
}
