.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.pagination li a:hover {
  background-color: #064F44;
  color: white;
}

.center {
    text-align: center;
}
